/* Navbar */
.navbar {
    position: relative;
    z-index: 1;
}
.navbar-brand {
    font-family: 'Viga', sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.nav-link {
    font-family: Montserrat;
    margin-right: 20px;
}

/* Jumbotron */
.jumbotron.container-fluid{
    background-image: url(img/working.jpg);
    height: 440px;
    background-size: cover;
    justify-content: center;
    align-items: center;
    position: relative;
}

.jumbotron .container-fluid {
    position: relative;
    z-index: 1;
}


.jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    position: absolute;
    bottom: 0;
}

.jumbotron, .display-4 {
    color: white;
    font-weight: 200;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    font-size: 30px;
}

.jumbotron .display-4 span {
    font-weight: 500;
}

/* Info Panel */
.card {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    border-radius: 14px;
    background-color: white;
    margin-top: -100px;
    font-family: 'Montserrat';
    padding: 30px;
}

.card img {
    margin-right: 10px;
    float: left;
    width: 100px;
    height: 100px;
}

.card h4 {
    font-size: 20px;
    font-weight: bold;
}

.card p {
    font-size: 14px;
    font-weight: 300;
}

/* Working Space */
.working {
    margin-top: 120px;
}

.working h3 {
    font-size: 46px;
    font-weight: 200;
    text-transform: uppercase;
    
}

.working h3 span {
    font-weight: 500;
    font-family: 'Viga';

}

.working p {
    font-family: 'Montserrat';
    font-size: 16px;
}

/* Forms */
.form {
    margin-top: 100px;
    font-family: 'Montserrat';
    font-size: 20px;
}

.form .col-lg-6 {
    margin-left: 10px;
    margin-right: 10px;
}

/* Footer */
.footer p {
    font-family: 'Montserrat';
    margin-top: 30px;
}

.footer a {
    text-decoration: none;
    color: rgb(209, 96, 21);
}




/* Versi Desktop */
@media (min-width: 992px) {
    .navbar {
        border-bottom: 2px solid rgb(209, 96, 21);
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid rgb(209, 96, 21);
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    .navbar-brand, .nav-link {
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    }

    .jumbotron.container-fluid {
        margin-top: -75px;
        height: 640px;
    }

    .jumbotron .display-4 {
        font-size: 80px;
    }

    .card img {
        width: 150px;
        height: 150px;
        
        margin-right: 10px;
        
    }
}

